body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*
{
  margin: 6px 3px;
  font-size: 20px;
}

.list
{
  border: 3px solid black;
  width: 25%;
  display: block;
  float: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.delete-button {
  background-color: darkred;
  border-radius: 1000px;
  border: 2px darkred solid;
  color: white;
}

.add-button {
  background-color: forestgreen;
  border-radius: 1000px;
  border: 2px forestgreen solid;
  color: white;
}